body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 150%;
  text-align: center;
}

.upper-container {
  background-color: #58b4ae;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: #d4f3ef;
  padding: 50px 0 70px;
}
.bottom-container{
    background-color: #58b4ae;
    padding-top: 20px;
}
h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 3rem;
}

.pro {
  text-decoration: underline;
}

.upper-cloude {
  position: absolute;
  right: 300px;
  top: 50px;
}

.lower-cloude {
  position: absolute;
  left: 300px;
}

.wasim {
  border-radius: 100%;
  width: 50%;
}

.interface {
  border-radius: 100%;
  width: 50%;
  float: right;
  margin-right: 20px;
}

.computer {
  border-radius: 100%;
  width: 50%;
  float: left;
  margin-right: 20px;
}
.skill-row{
  width: 50%;
  margin: 0 auto 70px auto;
  padding: 70px 200px;

}
.profile{
  width: 40%;
  margin: 70px auto 100px auto;
}
.contact-me{
  width: 40%;
  margin: 70px auto auto;
}
.myButton {
	box-shadow: 0 0 0 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 56px;
	text-decoration:none;
	text-shadow:0 1px 0 #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton{
  font-family: 'Merriweather', serif;
}
.footer-link{
  padding: 0 5px;
  text-decoration: none;
  color: #abf0e9;
}
.footer-link:hover{
  color: blue;
}
hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
}
.skills{
  padding: 20px 0 90px;
}
